html {
  font-family: var(--sl-font-sans, monospace);
  background-color: var(--sl-color-neutral-50, #111111);
  color: white;

  display: flex;
  justify-content: center;
}

main {
  width: 800px;
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;

  .log-count {
    color: grey;
    font-size: 12px;
    margin-top: 4px;
  }
  .tags {
    display: flex;
    gap: 4px;
  }
  .tags sl-badge {
    cursor: pointer;
  }
}


.template {
  display: none;
}

.container {
  overflow-y: auto;
  height: 400px;
}

.log {
  padding: 4px 8px;
  margin: 2px 0;
  background: var(--sl-color-neutral-200, #424242);
  font-family: monospace;
  border-radius: var(--sl-border-radius-medium, 4px);
  
  &:focus {
    background-color: var(--sl-color-primary-100);
    outline: none;
    
    &:after {
      content: attr(data-date);
      float: right;
      opacity: 0.5;
    }
  }
  
  .hide {
    display: none;
  }

  .tag {
    color: #aae2aa;
  }
  .number {
    color: yellow;
  }
  .date {
    color: grey;
  }
  .string {
    color: #f8b652;
  }

  /* ANSI escape sequences */
  .ansi-bold {
    font-weight: bold;
  }
}